@charset "utf-8"
@import "../node_modules/normalize.css/normalize.css"
@import "boiler.sass"
//=============== 360x640 "popular phones" ================
body
  background-color: #a9a9a9
  font-family: helvetica, arial, sans-serif
  padding: 1rem
  font-size: 17px
body.errorPage
  text-align: center
  font-size: 2rem
  h1
    color: hsl(23, 83%, 43%)
    font-size: 2.5em
  p.url
    font-size: 1.5em
  span.message
    font-size: 0.7em
    font-style: italic
    &::after
      font-style: normal
      content: "  🤷🏻‍"
  p.link
    padding-top: 20vh
    font-size: 0.8em
iframe
  border: 0px solid #fff
  width: 0
  height: 0
form
  margin: 3rem
//============= 1024x768 "iPad and tablets" ===============
//@media screen and (min-width: 1024px)
//=========== 1366x768 "Laptop and small screens" =========
//@media screen and (min-width: 1366px)
//================= 1920x1080 "Full HD" ===================
//@media screen and (min-width: 1920px)
//==================== 3840x2160 "4k" =====================
// @media screen and (min-width: 3840px)
